.Game {
    position: absolute;
    display: grid;
    top: 52%;
    transform: translate(-50%, -50%);
    padding: 10px;
    font-size: 22px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 3px 22px 0px rgba(0,0,0,0.75);
    margin-top: 1%;
}

.Game > h1 {
    margin: inherit;
}
