.Login {
    background-color: #e9ebee;
    height: 100vh;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.LoginContainer {
     margin-top: 80px;
     height: 500;
     width: 612;
     display: flex;
     flex-direction: column;
     padding: 80px;
     background-color: #ffffff;
     

}

.LoginContainer > h3 {
    margin-top: 5px;
    font-weight: 400;
    margin-bottom: 40px;
    text-align: center;

}

.LoginContainer > form > center >input {

    height: 33px;
    width: 301px;
    border: 0.5px solid gray;
    background-color: white;
    margin-bottom: 10px;
}

.SubmitLogin{
     background-color: rgb(238, 162, 63);
     border: none;
     margin-top: 10px;
     border-radius: 2px;
     width: 301px;
     cursor: pointer;
     height: 42px;

}