.Register {
    background-color: #e9ebee;
    height: 100vh;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.RegisterContainer {
     margin-top: 70px;
     height: 500;
     width: 612;
     display: flex;
     flex-direction: column;
     padding: 70px;
     background-color: #ffffff;
     

}

.RegisterLogo {
    height: 120px;
    width: 120px;
  
   
    padding-left: 90px;
    background-color: rgb(255, 255, 255);
    
}

.RegisterContainer > form > center >input {

    height: 33px;
    width: 301px;
    border: 0.5px solid gray;
    background-color: white;
    margin-bottom: 10px;

    border-radius: 5px;
}

.SubmitRegister{
     background-color: rgb(238, 162, 63);
     border: none;
     margin-top: 10px;
     border-radius: 2px;
     width: 301px;
     cursor: pointer;
     height: 42px;

}


.Link {
    color: black;
    margin-top: 20px;
    font-weight: 400;
    text-align: center;
}